%define buildnumber %(cat version.txt)

Name:           dbfs
Version:        %{buildnumber}
Release:        0
Summary:        Microsoft DBFS
AutoReqProv:    no
License:        MIT

Requires: glibc, fuse, fuse-devel, freetds

%{?systemd_requires}
BuildRequires: systemd

%description
This package contains the Microsoft DBFS tool which can be used to fetch certain DMVs from SQL Servers using FUSE filesystem.

%install
cd %{_srcdir}
make install DESTDIR=%{buildroot}

%files
%defattr(-, root, root)
/usr/bin/*
/opt/mssql-dbfs/*
/usr/share/doc/dbfs/*
/usr/lib64/*
