Name:           dbfs
Version:        0.1.5
Release:        0
Summary:        Microsoft DBFS 0.1.5
AutoReqProv:    no
License:        MIT

Requires: glibc, fuse, fuse-devel, freetds

%description
This package contains the Microsoft DBFS tool which can be used to fetch certain DMVs from SQL Servers using FUSE filesystem.

%{?systemd_requires}
BuildRequires: systemd

%install
cd %{_srcdir}
make install DESTDIR=%{buildroot}

%files
%defattr(-, root, root)
/usr/bin/*
/opt/mssql-dbfs/*
/usr/share/doc/dbfs/*